<div class="col-lg-3 col-md-6 mt-5 ml-auto mr-auto">
  <h1>Lectures</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Time</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Subject Code</th>
      </tr>
    </thead>
    <tbody>
      <% @lectures.each do |lecture| %>
        <tr>
          <td><%= lecture.title %></td>
          <td><%= lecture.description %></td>
          <td><%= lecture.time %></td>
          <td><%= lecture.date %></td>
          <td><%= lecture.duration %></td>
          <td><%= lecture.subject_code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-group btn btn-warning">
    <%= link_to t('.back'), :back %>
  </div>
</div>