<div class="col-lg-3 col-md-6 mt-5 ml-auto mr-auto">
    <%= form_for @class_room, url: [@school, @class_room], local: true do |form| %>
      <% if @class_room.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@class_room.errors.count, "error") %> prohibited
            this teacher from being saved:
        </h2>
        <ul>
          <% @class_room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= form.hidden_field :school_id %>
      </div>

      <div class="form-group">
        <h3><%= form.label :Edit_Standard %></h3><br>
        <%= form.text_field :standard, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit "Update Class Room", class: "btn btn-primary" %>
      </div>

      <div class="form-group btn btn-warning">
        <%= link_to t('.back'), :back %>
      </div>
    <% end %>
</div>