 <div class="mt-5">
  <h1>Students</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Role</th>
        <th>Standard</th>
        <th>Roll No.</th>
        <th>Add Attendance</th>
        <th>Add feedback</th>
        <th>Edit Details</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email  %></td>
          <td><%= user.first_name  %></td>
          <td><%= user.last_name %></td>
          <td><%= user.date_of_birth %></td>
          <td><%= user.gender %></td>
          <td><%= user.contact_number %></td>
          <td><%= user.address %></td>
          <td><%= user.role %></td>
          <td><%= user.custom_attr[0]  %></td>
          <td><%= user.custom_attr[1] %></td>
          <td><%= link_to 'Add', new_user_attendance_path(@school) %></td>
          <td><%= link_to 'Give feedback', new_user_feedback_path(user) %>
          <td><%= link_to 'Edit Student', edit_school_user_path(@school, user) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-group btn btn-warning">
    <%= link_to t('.back'), :back %>
  </div>
</div>
