 <div class="container mt-5">
  <% if current_user.role == 'admin' || current_user.role == 'principal'%>
    <% @schools.each do |school| %>
      <h1><%= school.name %></h1>
      <h1 class="text-light p-3 text-center rounded bg_admin">Administration Dashboard</h1>

      <div class="row mt-5">

        <div class="col-md-6">
          <div class="card bg-light">
            <div class="card-body text-primary text-center">
              <h3><%= "Total Students #{students_count}" %></h3>
            </div>
          </div>  
        </div>

        <div class="col-md-6">
          <div class="card bg-light">      
            <div class="card-body text-primary text-center">
              <h3><%= "Total Teachers #{teachers_count}" %></h3>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-5">

         <div class="col-md-6">
          <div class="card bg-light">
            <div class="card-body text-primary text-center">
              <h3><%= link_to "Create Classes", new_school_standard_path(school.id) %></h3>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card bg-light">             
            <div class="card-body text-center">
              <h3><%= link_to "Total Classes", school_standards_path(school.id) %></h3>
            </div>
          </div>
        </div> 

      </div>
    <% end %>
  <% elsif current_user.role == 'teacher' %>
    <% @schools.each do |school| %>
      <h1><%=link_to school.name, school_url(school) %></h1><br/>
      <h1 class="text-light p-3 text-center rounded bg-info">Teachers Dashboard</h1>

      <div class="row mt-5">

        <div class="col-md-6">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "All Students", school_users_path(school.id) %></h3>
            </div>
          </div>  
        </div>

        <div class="col-md-6">
          <div class="card bg-light">             
            <div class="card-body text-center">
              <h3><%= link_to "Total Classes", school_standards_path(school.id) %></h3>
            </div>
          </div>
        </div> 

      </div>
      <div class="row mt-5">

        <div class="col-md-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Today's Lectures" %></h3>
            </div>
          </div>  
        </div>

      </div>
    <% end %>
  <% elsif current_user.role == 'student' %>
    <h1><%= "Hello, #{current_user.first_name}" %></h1>
    <h1 class="text-light p-3 text-center rounded bg_student">Students Dashboard</h1>
    
    <div class="row mt-5">

        <div class="col-md-6">
          <div class="card bg-light">             
            <div class="card-body text-center">
              <h3><%= link_to "Total Classes", school_standards_path(School.first.id) %></h3>
            </div>
          </div>
        </div> 

         <div class="col-md-6">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Today's Lectures" %></h3>
            </div>
          </div>  
        </div>

      </div>
  <% end %>
</div>
  