 <div class="container mt-5">
  <% if current_user.role == 'admin' || current_user.role == 'principal'%>
    <% @schools.each do |school| %>
      <h1><%=link_to school.name, school_url(school) %></h1>
      <h1 class="text-light p-3 text-center rounded bg-success">Administration Dashboard</h1>
      <h4>
      <strong>Email ID:</strong>
      <%= school.email %>
      </h4>

      <h4>
      <strong>Address:</strong>
      <%= school.address %>
      </h4>

      <h4>
      <strong>Contact:</strong>
      <%= school.contacts %>
      </h4>

      <div class="row mt-5">

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body text-primary">
              <h3><%= "Total Students #{User.where(role: "student").count}" %></h3>
            </div>
          </div>  
        </div>

        <div class="col-md-3">
          <div class="card bg-light">      
            <div class="card-body text-primary">
              <h3><%= "Total Teachers #{User.where(role: "teacher").count}" %></h3>
            </div>
          </div>
        </div> 

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body">
              <h3><%= link_to "Create Classes", new_school_class_room_path(school), class: "text-primary" %></h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body">
              <h3><%= link_to "Create Lectures" %></h3>
              <%# , new_school_class_room_lecture_path(school, @class_room), class: "text-primary"  %>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-5">

        <div class="col-md-4">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Feedbacks" %></h3>
            </div>
          </div>  
        </div>

        <div class="col-md-4">
          <div class="card bg-light">             
            <div class="card-body text-center">
              <h3><%= link_to "Total Classes", school_class_rooms_path(school) %></h3>
            </div>
          </div>
        </div> 

        <div class="col-md-4">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Total Lectures" %></h3>
               <%# school_class_room_lectures_path(school, @class_room), class: "text-primary"  %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% elsif current_user.role == 'teacher' %>
    <% @schools.each do |school| %>
      <h1><%=link_to school.name, school_url(school) %></h1><br/>
      <h1 class="text-light p-3 text-center rounded bg-info">Teachers Dashboard</h1>

      <div class="row mt-5">

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Feedbacks" %></h3>
            </div>
          </div>  
        </div>

        <div class="col-md-3">
          <div class="card bg-light">             
            <div class="card-body text-center">
              <h3><%= link_to "Total Classes", school_class_rooms_path(school) %></h3>
            </div>
          </div>
        </div> 

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Take Attendance" %></h3>
               <%# school_class_room_lectures_path(school, @class_room), class: "text-primary"  %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3><%= link_to "Total Lectures" %></h3>
               <%# school_class_room_lectures_path(school, @class_room), class: "text-primary"  %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% elsif current_user.role == 'student' %>
    <h1><%= "Hello, #{current_user.first_name}(Student)" %></h1>
    <h1 class="text-light p-3 text-center rounded bg-warning">Students Dashboard</h1>
  <% else %>
    <h1><%= "Hello, #{current_user.first_name}(User)" %></h1>
    <h2>Welcome To <strong>"School Management"</strong> Project User</h2>
    <h2>Please Sign_up As An Authourise Role To Access The Portal.</h2>
  <% end %>
</div>
