<div class="image">
  <div>
    <%= link_to 'Edit School', edit_school_path(@school), class:"btn btn-outline-secondary text-light mt-4" %>
    <%= link_to 'Back', root_path, class:"btn btn-outline-secondary text-light mt-4" %> 
  </div>
  <div class="float-right text-light mr-2">

    <h1><strong><%= @school.name %></strong></h1>

    <h3>
      <strong>Email ID:</strong>
      <%= @school.email %>
    </h3>

    <h3>
      <strong>Address:</strong>
      <%= @school.address %>
    </h3>

    <h3>
      <strong>Contact:</strong>
      <%= @school.contacts %>
    </h3>
  </div>
</div>