<div class="mt-2 ml-3" >
  <%= link_to 'Edit School', edit_school_path(@school), class:"btn btn-primary" %> |
  <%= link_to 'Back', root_path, class:"btn btn-primary" %> |
  <%= link_to 'Destroy', school_path(@school),
                method: :delete,
                data: { confirm: 'Are you sure?'}, class:"btn btn-primary" %>
</div>
<div class="container mt-5">

  <h1><%= @school.name %></h1>

  <p>
    <strong>Email ID:</strong>
    <%= @school.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @school.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= @school.contacts %>
  </p>
</div>